/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  color: white;
  text-align: center;
  background-color: #004f8c;
  background-image: url(./notebook.png);
}

h1 {
  font-family: verdana, arial, sans-serif;
  font-style: italic;
  color: #2c32ec;
}
button {
  padding: 10px;
  border-radius: 10px;
}

#gameButtonArea > button {
  width: 200px;
  height: 200px;
  margin: 2px;
}
.hidden {
  display: none;
}
#button1 {
  background: lightgreen;
}
#button2 {
  background: lightblue;
}
#button3 {
  background: pink;
}
#button4 {
  background: lightyellow;
}
#button5 {
  background: silver;
}
#button6 {
  background: orchid;
}
#button1:active,
#button1.lit {
  background: green;
  background-image: url(./food.png);
}
#button2:active,
#button2.lit {
  background: blue;
  background-image: url(./food.png);
}
#button3:active,
#button3.lit {
  background: red;
  background-image: url(./food.png);
}
#button4:active,
#button4.lit {
  background: yellow;
  background-image: url(./food.png);
}
#button5:active,
#button5.lit {
  background: black;
  background-image: url(./food.png);
}
#button6:active,
#button6.lit {
  background: purple;
  background-image: url(./food.png);
}
.green {
  color: greenyellow;
}
.red {
  color: red;
}
.white {
  color: white;
}

.alignLeft {
  text-align: left;
}
.disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.9;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
#features {
  background-color: rgb(197, 87, 107);
  background-image: url(./notebook.png);
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 1%;
  width: 20%;
  padding: 1%;
}

@media only screen and (max-width: 420px) {
  #gameButtonArea > button {
    width: 100px;
    height: 100px;
    margin: 2px;
  }
  #features {
    background-color: rgb(197, 87, 107);
    background-image: url(./notebook.png);
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 5%;
    width: 80%;
    padding: 1%;
  }
}

@media only screen and (max-width: 420px) {
  #gameButtonArea > button {
    width: 120px;
    height: 120px;
    margin: 2px;
  }
}
